/* eslint-disable */

/* Footer */
/*
.footer {
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 75px;
  width: 100%;
  background: black;
}




/*Home Header */
.homeheader {
  width: 100%;
  border-bottom: 5px solid;
  border-color: rgb(240, 240, 240);
}

.logo {
  max-width: 30px;
  max-height: 30px;
}

/* Background */

body {
  background: white;
}

/* /////////////////////////////////////////////////// LOG IN SCREEN
/* Split the screen in half */

.split {
  display: flex;
  height: 90vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */

.left {
  left: 0;
}

/* Control the right side */

.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Black image on login screen */
.ravens {
  display: flex;
  align-items: stretch;
  width: 100vw;
}
/* ///////////////////////////////////////////////////////////////
.input {
  width: 250px;
  padding: 10px;
}

/* */
.statusinput {
  width: 500px;
  height: 25px;
}

.alvincontainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

/* I MIGHT WANT TO CHANGE MARGIN LEFT AT SOME POINT */
.child2 {
  width: 100%;
  margin-left: 320px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  min-width: 320px;
  border-right: 1px solid;
  border-color: lightgray;
}

.sidebarlist {
  padding: 15px 0px 0px 90px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.sidebarrow {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.sidebaricon {
  padding-right: 20px;
}

/* Main App */
.alvinmain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: blue;
}

.postname {
  font-weight: bold;
}

.font1 {
  font-size: 20px;
}

.mainpanel {
  padding-top: 20px;
  padding-bottom: 20px;
}

.enterbutton {
  margin-left: auto;
}

/* News */
.news {
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding: 30px;
  padding-top: 75px;
  height: 100vh;
  min-width: 420px;
  border-left: 1px solid;
  border-color: lightgray;
}

.newsbox {
  width: 350px;
  background-color: #ebeef0;
  padding: 20px;
  padding-left: 0px;
  border-radius: 20px;
}

.alvinavatar {
  margin: 5px;
  border-radius: 200px;
  cursor: pointer;
}

.alvinavatar:hover > .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
  display: block;
}

.prevPicContainer {
  display: flex;
}
.prevPicDiv {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.imgBorder {
  position: relative;
  background-color: #e0e1e2;
  margin: 15px;
  border-radius: 30px;
  height: 400px;
  width: 400px;
}
.previewPic {
  position: relative;
  border-radius: 30px;
}

.previewPicCancel {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 40px;
  left: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  opacity: 0.5;
  color: white;
  font-size: 16px;
  padding: 24px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.prevPicDiv .previewPicCancel:hover {
  background-color: black;
  opacity: 1;
}

/* /////////////////////////////////////////////////////////////////////////////////// UI OVERRIDES */
.inputmod1 {
  font-size: 1.3em !important;
  padding-top: 0px !important;
}

.listmods1 {
  margin-left: 1.25rem;
}

.ui.bulleted.list,
ul.ui.list {
  margin-left: 0rem;
}

/* /////////////////////////////////////////////////////////////////////////////////// RESIZE */
@media screen and (max-width: 1200px) {
  .ui.comments {
    margin: none !important;
    max-width: none !important;
  }

  .child2 {
    margin-left: 100px;
  }

  .sidebar {
    min-width: 100px;
    width: 100px;
  }

  .sidebarlist {
    padding: 15px 0px 0px 45px;
  }

  .sidebarwords {
    display: none !important;
  }
  .split {
    position: initial;
  }

  .ravens {
    display: none !important;
  }

  .left {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .news {
    display: none !important;
  }
}
